.cover {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  margin: 92px auto 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background: #2a2c2f;
  transition: opacity 0.5s ease;
}

.cover:hover::before {
  content: '';
  background: #2a2c2f;
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}
