.place {
  margin: 0 auto 80px;
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 48px 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  .place {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    margin-bottom: 73px;
    max-width: 720px;
    gap: 48px 28px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 50px;
    max-width: 320px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
  }
}
